@model IEnumerable<Project.Models.Challenge>

@foreach (var item in Model)
{
    <div class="challenge__card mb-2 border rounded col-12 d-flex bg-white">
        <div class="col-6">
            <div class="p-2 ps-3">
                <h4>
                    <b>@item.Name</b>
                    <span class="text-warning fs-6"><i>@item.Level.Name</i></span>
                </h4>
                <p>
                    @item.Description
                </p>
                <p class="mb-0">return <b class="text-danger fs-6">Int</b></p>
                <p class="text-muted">tags tags tags tags</p>
                <div class="d-flex">
                    <span>Лайков: 00</span>
                    <span class="ms-2">Решений: @item.Solutions.Count()</span>
                    <span class="ms-2">Не справилось: @item.UsersWhoUnlocked.Count()</span>
                </div>
                <div class="d-flex">
                    @foreach (var lang in item.Tests)
                    {
                        <a class="btn me-4 btn-outline-primary" asp-action="solve" asp-route-challenge="@item.Id" asp-controller="challenge">Выполнить @lang.ProgLanguage.Name</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-6 align-items-start d-flex">
            <div class="me-4 m-2 col-12">
                <div class="p-2 me-4 challenge__code position-relative rounded border-bottom">
<pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
    @item.Tests.First().TestContent
</pre>
                </div>
                <div class="p-2 col-12 d-flex justify-content-between">
                    <div>
                        <p class="mb-0 text-danger"><b>Score</b></p>
                    </div>
                    <div class="d-flex">
                        <img src="#" height="25" width="25" />
                        <p class="mb-0">
                            @item.Author.Username <span class="text-muted">@item.DateCreated</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
} 