

@{
    Layout = "MainLayout";
}

<section>
    <div class="mb-4">
        <div class="d-flex col-12 align-items-center">
            <h4 class="mb-1 me-4">Задания сообщества</h4>

            @if (ViewBag.About?.CountChallenges != null)
            {
                <span class="bold-mark me-4">
                    Заданий: @ViewBag.CountChallenges
                </span>
            }

            @if (ViewBag.About?.CountSolutions != null)
            {
                <span class="bold-mark me-4">
                    Решений: @ViewBag.CountSolutions
                </span>
            }

            @if (ViewBag.About?.CountComments != null)
            {
                <span class="bold-mark me-4">
                    Комментариев: @ViewBag.CountComments
                </span>
            }
        </div>
        <div class="p-3 border rounded">
            <div class="col-12 d-flex justify-content-around">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="col-8 overflow-hidden align-items-center justify-content-start d-flex">
                    @if (ViewBag.PopularTags != null)
                    {
                        @foreach (var tag in ViewBag.PopularTags)
                        {
                            <a asp-action="index" asp-controller="challenge" asp-route-tag="@tag"><span class="me-2 tag">@tag</span></a>
                        }
                    }
                </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Поиск заданий
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <hr class="m-0 mb-2" />
            <!---->
            @await Component.InvokeAsync("ChallengeList")
            <!---->
            <div class="col-12 d-flex justify-content-between">
                <div class="btn-group mr-2"
                     role="group"
                     aria-label="First group">
                    <a class="btn btn-light">1</a>
                    <a disabled class="btn btn-light">
                        2
                    </a>
                    <a class="btn btn-light">3</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/dist/enlighterjs.min.js"></script>
    <script type="text/javascript">
        EnlighterJS.init("pre", "code", {
            language: "python, csharp",
            theme: "bootstrap4",
            indent: 2
        });
    </script>
}