@model Project.Models.Challenge

@{
    Layout = "MainLayout";
}

<section>
    <form asp-action="addreport" asp-controller="challenge" method="post" class="col-12 mb-2 text-start p-1">
        <p class="bold-mark text-muted mb-0">Если вы думайте, что задание содержит некорректный тест, напишите об этом автору</p>
        <div class="d-flex col-10 align-items-center">
            <input name="lang" value="@ViewBag.LangName" hidden />
            <input name="challenge" value="@Model.Id" hidden />
            <input name="reportContent" class="form-control form-control-sm" placeholder="Опишите в чем заключается проблема этого задания" />
            <button type="submit" class="ms-1 btn btn-light ms-1">Отправить</button>
        </div>
    </form>
    <section>
        <div class="mb-2 col-12 p-2 border rounded quest-card d-flex">
            <div class="col-6">
                <h5>
                    @Model.Name
                    <span class="@Model.Level.Name quest-level">@Model.Level.Name</span>
                </h5>
                <p class="mb-2">
                    @Model.Description
                </p>
                <p class="mb-2 bold-mark">@Model.Level.Score exp за решение</p>
            </div>
            <div class="col-6">
                <div class="border rounded overflow-scroll">
                    @if (ViewBag.LangName != null)
                    {
<pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
@Model.Tests.FirstOrDefault(x => x.ProgLanguage.Name == ViewBag.LangName).TestContent
</pre>
                    }
                    else
                    {
<pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
@Model.Tests.First().TestContent
</pre>
                    }
                </div>
            </div>
        </div>
    </section>


    <div class="col-12 d-flex border rounded p-2">
        <div class="col-6">
            <div class="col-12 d-flex justify-content-between">
                <p class="mb-0 p-1 bold-mark text-secondary">Ваше решение</p>
                @if (ViewBag.SolutionStatus != null)
                {
                    if (ViewBag.SolutionStatus == true)
                    {
                        <p class="mb-0 p-1 pe-2 tsmall text-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            Ваше решение готово к публикации
                        </p>
                    }
                    else
                    {
                        <p class="mb-0 p-1 pe-2 tsmall text-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                            Ваше решение не готово к публикации
                        </p>
                    }
                }
            </div>
            <form class="col-12" id="solutionForm" asp-action="solve" asp-controller="challenge" method="post">
                <input hidden name="testId" value="@Model.Tests.FirstOrDefault(x => x.ProgLanguage.Name == ViewBag.LangName).Id" />
                @if (ViewBag.OldSolution != null)
                {
                    <textarea noresize name="solution" class="mt-1 form-control form-control-sm" id="userSolutionText">@ViewBag.OldSolution</textarea>
                }
                else
                {
                    <textarea noresize name="solution" class="mt-1 form-control form-control-sm" id="userSolutionText" placeholder="//solution"></textarea>
                }
                <div class="col-12 d-flex justify-content-between p-1">
                    <a asp-action="index" asp-controller="challenge" class="btn btn-action">Вернуться</a>
                    <button type="submit" class="btn btn-primary">Тестировать</button>
                </div>
            </form>
        </div>
        <div class="col-6 ps-2">
            <label class="bold-mark">Результат</label>
            <div id="solutionResultBlock" class="bg-light mt-1 position-relative rounded border">
                @if (ViewBag.Res != null)
                {
                    <pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
@ViewBag.Res
</pre>
                }
                else
                {
                    <pre data-enlighter-language="less" class="pb-0 mb-0 position-absolute">
//solution result
</pre>
                }
            </div>
            <div class="mt-1 col-12 d-flex justify-content-between p-1">
                <form method="post" asp-action="submit" asp-controller="challenge" class="col-12 d-flex justify-content-between">
                    @if (ViewBag.OldSolution != null)
                    {
                        <textarea name="solution" hidden>@ViewBag.OldSolution</textarea>
                        <input hidden name="testId" value="@Model.Tests.FirstOrDefault(x => x.ProgLanguage.Name == ViewBag.LangName).Id" />
                    }
                    @if (ViewBag.Unlocked == null)
                    {
                        <a asp-action="unlock" asp-controller="challenge" asp-route-challenge="@Model.Id" asp-route-lang="@ViewBag.LangName" class="btn btn-primary">Открыть решения</a>
                    }
                    @if (ViewBag.SolutionStatus != null)
                    {
                        if (ViewBag.SolutionStatus == true)
                        {
                            <button type="submit" class="btn btn-success">Отправить</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success" disabled>Отправить</button>
                        }
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success" disabled>Отправить</button>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        @if (ViewBag.Unlocked != null)
        {
            @if (ViewBag.Unlocked == true)
            {
                <div class="d-flex col-12 justify-content-center">
                    <a class="text-dark bold-mark me-4" asp-action="solve" asp-controller="challenge" asp-route-challenge="@Model.Id" asp-route-lang="@ViewBag.LangName" asp-route-section="solutions">Решения</a>
                    <a class="text-dark bold-mark me-4" asp-action="solve" asp-controller="challenge" asp-route-challenge="@Model.Id" asp-route-lang="@ViewBag.LangName" asp-route-section="comments">Комментарии</a>
                </div>
                <div class="col-12 p-2 mt-2 border rounded">
                    @if (ViewBag.Section == "solutions")
                    {
                        <p class="text-secondary">Последние решения</p>
                        @foreach (var sol in Model.Solutions)
                        {
                            <div class="col-12 solution-card border rounded p-2">
                                <div class="col-12 d-flex justify-content-between pe-2 ps-2">
                                    <p class="bold-mark mb-2">
                                        @sol.Author.Username <span class="ms-2 mark">@sol.ProgLanguage.Name</span>
                                    </p>
                                    <span class="bold-mark text-muted">@sol.DateCreated</span>
                                </div>
                                <div class="bg-light border rounded overflow-scroll">
                                    <pre data-enlighter-language="less"
                                         class="pb-0 mb-0 position-absolute">
@sol.SolutionContent
                              </pre>
                                </div>
                            </div>
                        }
                    }
                    else if (ViewBag.Section == "comments")
                    {
                        <form asp-action="addComment" asp-controller="challenge" method="post" class="col-12">
                            <div class="col-10 mb-4">
                                <label class="bold-mark">Ваш комментарий к заданию</label>
                                <div class="d-flex col-12">
                                    <input hidden value="@Model.Id" name="challengeId" />
                                    <input hidden value="@ViewBag.LangName" name="lang" />
                                    <textarea class="form-control form-control-sm" name="commentContent"></textarea>
                                    <div>
                                        <button class="btn btn-success m-2">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="col-12 comment-card border rounded p-2">
                                <div class="col-12 d-flex justify-content-between pe-2 ps-0">
                                    <p class="bold-mark mb-2">
                                        @comment.Author.Username
                                    </p>
                                    <span class="bold-mark text-muted">@comment.CreatedDateStr</span>
                                </div>
                                <div>
                                    <p>
                                        @comment.Content
                                    </p>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <h5 class="section-d">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20"
                         height="20"
                         fill="currentColor"
                         class="bi bi-lock-fill"
                         viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                    </svg>
                    Выполните задание, чтобы открыть комментарии и решения
                </h5>
                <p class="bold-mark text-secondary">
                    Решений: 12 <span class="ms-4">Комментариев: 1284</span>
                </p>
            </div>
        }
    </div>
</section>



@section scripts {
    <script type="text/javascript" src="~/dist/enlighterjs.min.js"></script>
    <script type="text/javascript">

        EnlighterJS.init("pre", "code", {
            language: "python",
            theme: "bootstrap4",
            indent: 2
        });
    </script>
}
